*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to left, #770606, #1C1C1C, #b30505 );
}

h1 {
    color: aliceblue;
    margin: 20px 0;
    font-size: 4rem;
    text-align: center;
}

.section {
    width: 80%;
    max-width: 1200px;
    margin: 20px 0;
}

.section h2 {
    color: aliceblue;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background-color: #acd1f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 45%;
    max-width: 300px;
    margin: 10px;
    padding: 15px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 5px;
}

.card p {
    margin: 10px 0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #f30a1e;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;

    transition: all 1s ease-in-out 0s;
}

.button:hover {
    background-color: transparent;
    color: #00000073;
    transform: scale(1.05);
    box-shadow: 0 0 30px #ff1818c5;
    cursor: grab;
    border: 2px solid #ff0000;
}